.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10rem;
  padding: 5rem;
  background-color: slategray;
  height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin: 2rem;
}
.order{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}